/*

Card Edges
8px Space
Content (Blue Sections)

Blue Section
8px Space
Blue Section

Title Text (16px)
8px Space
Title Edges (Blue Section)

Content Top-Bottom (16px Space)
Content Left-Right (8px Space)

.button-container
* Centered
* 8x Padding

Big Button
* Separate line
* Centered
* Left-Right (24px)
* Top-Bottom (8px)

*/

body {
  background: #eee;
  font-family: sans-serif;
  margin: 8px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 8px 24px;
  display: block;
}
