.header  {
  font-family: monospace;
  background: papayawhip;
  padding: 8px; /* Header: Add 8px padding (to edges) */
  display: flex; /* Header: Align children horizontally */
  align-items: center; /* Header: Center children vertically (logo centered; padding auto-resized) */
  justify-content: space-between; /* Header: Space children evenly between one another */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

/* ul (Links) */
ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex; /* Align children horizontally (padding auto-resized) */
  margin: 0; /* Set no extra margins */
  padding: 0; /* Set no extra padding */
  gap: 8px; /* Set 8px gap between each child */
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
